<h3 class="m-2 p-2">Correct Predictions</h3>
<table class="table table-striped table-bordered w-100" *ngIf="users && users.length">
    <thead class="thead-dark">
        <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Matches</th>
            <th>Toss Winner</th>
            <th>Match Winner</th>
            <th>Man Of The Match</th>
            <th>Most Runs</th>
            <th>Most Wickets</th>
            <th>Most Sixes</th>
            <th>Most Catches</th>
        </tr>
        </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>{{i+1}}</td>
            <td>{{user.firstName + ' ' + user.lastName}}</td>
            <td>{{user.matches.length}}</td>
            <td>{{user.summary.tossWinner}}</td>
            <td>{{user.summary.matchWinner}}</td>
            <td>{{user.summary.manOfTheMatch}}</td>
            <td>{{user.summary.mostRuns}}</td>
            <td>{{user.summary.mostWickets}}</td>
            <td>{{user.summary.mostSixes}}</td>
            <td>{{user.summary.mostCatches}}</td>
        </tr>
    </tbody>
</table>