.example-spacer {
  flex: 1 1 auto;
}
.w-20 {
  width: 450px;
}
.match-container {
  flex-wrap: wrap;
  gap: 3px;
}

.team1 {
  display: flex;
  gap: 5px;
}
.card {
  font-size: 12px;
}
.circle {
  border-radius: 50%;
}
.w-10 {
  width: fit-content;
}
.cursor-pointer {
  cursor: pointer;
}
