<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {{>navbar}}
    <h1>Login</h1>
    <form action="/login" method="POST"></form>
    <label for="Email">Email</label>
    <input type="email" name='email'>

    <label for="password">Password</label>
    <input type="passsword" name='password'>

    <button type="submit">Login</button>
</body>
</html>