<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <div class="container">
        <form action="/register" method="POST">

        <label for="fullName">Full Name</label>
        <input type="name" name='fullname'><br>

        <label for="Email">Email</label>
        <input type="email" name='email'>
        
        <label for="phone">Phone</label>
        <input type="text" name='phone'>
        
        <label for="password">Password</label>
        <input type="passsword" name='password'>

        <label for="password">Confirm Password</label>
        <input type="passsword" name='conpassword'>
        <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>