.login-form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  text-align: center;
  .example-card {
    position: absolute;
    top: 20%;
    z-index: 1;
  }
  background-image: url('../../../../assets/images/ipl.jpg');
  background-size: cover;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-header {
  display: block;
}
.ams-logo {
  margin: 20px;
}
mat-form-field {
  display: flex;
}
::ng-deep.mat-mdc-form-field-infix {
  display: flex;
  padding: 5px;
  mat-icon {
    margin: 0 10px 0 0;
    color: rgba(0, 0, 0, 0.224);
  }
}
::ng-deep.mat-mdc-text-field-wrapper {
  background-color: #fff;
}

.loader {
  border: 2px solid black;
}
.border-radius{
  border-radius: 15px !important
}