<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Edit Profile</title>
</head>

<body>
    {{>innavbar}}
    <form action="/save" method="post">
        <div class="container">

            <img id="profile" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"
                alt="">
            <div class="container2" class="edit">




                <div class="container">
                    <div>

                        <input name='firstName' type="text" id="form3Example3" class="form-control"
                            value={{user.firstName}} />
                        <label class="form-label" for="form3Example3">First Name</label>
                    </div>

                    <div>


                        <input name='lastName' type="text" id="form3Example3" class="form-control"
                            value={{user.lastName}} />
                        <label class="form-label" for="form3Example3">Last Name</label>
                    </div>
                </div>
                <div class="container">

                    <div>

                    <input name='email' type="email" id="form3Example3" class="form-control"
                        value={{user.email}} />
                    <label class="form-label" for="form3Example3">Email</label>
                    </div>

                    <div>



                    <input name='phone' type="text" id="form3Example3" class="form-control"
                        value={{user.phone}} />
                    <label class="form-label" for="form3Example3">Phone</label>
                    </div>
                </div>
                <div class="container">

                    <div>

                    <input name='age' type="number" id="form3Example3" class="form-control"
                        value="" />
                    <label class="form-label" for="form3Example3">Age</label>
                    </div>

                    <div>



                    <input name='date' type="date" id="form3Example3" class="form-control"
                        value="" />
                    <label class="form-label" for="form3Example3">Date Of Birth</label>
                    </div>
                </div>
                <div class="container">
                    <textarea name='bio' type="textarea" id="form3Example3" class="form-control"
                        value="" ></textarea>
                    <label class="form-label" for="form3Example3">Bio</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem; ">Save Changes</button>
                </div>



            </div>
        </div>
    </form>
    <style>
        div{
            margin-right: 10px;
            margin-top:0px;
        }
        .container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 30px;
            align-items: center;
            border-radius: 20px;
            width: auto;
           
            
            }

        .container2 {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 30px;
            align-items: center;
            border-radius: 20px;
            width: auto;
            
            flex: 0.75;

        }

        .container img {
            height: 200px;

            border-radius: 30px;
        }

        .edit input {
            display: flex;
            flex-direction: row;
        }
        .container textarea{
            width: 100%;
        }
    </style>
</body>

</html>