<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"></button>
  <img src="../../../../assets/images/ipl-logo.png" height="50px" alt="" />
  <span> Prediction</span>
  <span class="example-spacer"></span>
  <span>Welcome <b>{{ currentUser.fullName }}</b></span>
  <button mat-flat-button color="primary" class="example-icon favorite-icon m-2"
    aria-label="Example icon-button with heart icon" (click)="logout()">
    Logout
  </button>
</mat-toolbar>

<div class="container">
  <div class="card">
    <div class="card-header w-100 d-flex justify-content-between">
      <h3 class="card-title">Tournaments</h3>
      <div class="d-flex">
        <button mat-flat-button color="primary" class="m-1" *ngIf="currentUser.userType === 'admin'"
          (click)="openCreateForm()">
          Create
        </button>
        <button mat-flat-button color="primary" class="m-1"
          (click)="joinClicked = !joinClicked">{{!joinClicked?'Join':'Cancel'}}</button>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="joinClicked">
        <mat-form-field class="w-50" appearance="outline">
          <mat-label>Tournament Code</mat-label>
          <input type="text" matInput name="joinCode" [(ngModel)]="tournamentId">
        </mat-form-field>
        <button mat-flat-button color="primary" class="m-2" [disabled]="!tournamentId"
          (click)="joinTournament()">Join</button>
      </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="currentUser.userType==='admin'">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked
            (click)="selected = 'joined'; getAllTournaments()" />
          Joined
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"
            (click)="selected = 'myCreated'; getAllTournaments()" />
          Created
        </label>
      </div>
      <div class="container p-3  mt-3 w-100">
        <div class="alert alert-danger" role="alert" *ngIf="!tournaments || !tournaments.length">
          No Tournaments
        </div>
        <div class="card cursor-pointer m-2" *ngFor="let tournament of tournaments"
          (click)="openTournamentPage(tournament)">
          <div class=" card-header">
            <h3 class="card-title">{{ tournament.name }}</h3>
            <h4 class="card-sub-title border p-2">
              Join Code: {{ tournament.tournamentId }}
            </h4>
            <div class="card-body">
              <small *ngIf="selected==='myCreated'">{{ tournament.players?.length }} Players Joined</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>